.error,.error > input , .error > select{
	background-color: #f85f5b !important;
	color: white !important;
}

.error > input::-webkit-input-placeholder {
   color: white;
}

.error > input:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

.error > input::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

.error > input:-ms-input-placeholder {  
   color: white;  
}

.hidden{
	display: none;
}

.tut_title{
	margin:10px;
	font-size:16px;
}

.bar-custom-header{
	background-color:#191919;
}

.bar-custom-header .title{
	color:#fff;
}

.bar-custom-footer{
	background-color:#fff055;
	
}

.bar-custom-footer .title{
	color: #191919;
}

.like_dislike{
	background-color:#fff8dc;
	margin:0;
	padding:0;
	height:60px;
}

.like_dislike a{
	text-decoration:none;
}

.like_dislike .row .col button{
	margin-bottom:0px;
	margin-top:0px;
}

.iconmenu:before{
  font-size:24px!important;
}

img.kot_thumb{
	border: 1px solid white;
}

.kot_thumbs{
	margin-top:-4px;
	margin-left:-1px;
	margin-right:-1px;
}

.right{
	text-align:right;
}

.kot_icons{
	margin-top:-6px;
}

.kot_icons i.icon{
	color:#387ef5;
	font-size:24px;
}

.kot_card{
	margin-top:2px;
	padding-top:0px;
}

.footer_padding{
	margin-bottom:80px!important;
}

.kot_card .item-divider{
	background-color:#00a99d;
	color:#fff;
}

.main_info i.icon{
	color:#387ef5;
}

.fav_card{
	margin-top:45px;
	border-radius:0;
	padding-bottom:0;
	padding-top:0;
}

.info_message{
	text-align:center;
	color:#e4e4e4
}

.sub_menu{
	background-color:#387EF5;
}

.sub_menu h2{
	color:#FFFFFF;
}

/*google maps*/
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 200px;
}

/*TUTORIAL*/
.trans_header{
	background:transparent;
}
.tut_subheader, .main_header{
	background-color:#387ef5!important;
}

.tut_body{
	/* background:transparent; */
	background:transparent;
	/* border: 1px solid #b7b7b7; */
}

button.button.button-block.button-positive.button_action{
	background-color:#e48f32;
	border:#e48f32;
}

/*REGISTER*/


.register_antwerpen{
	background-image:url(../img/background.jpg);
	position:absolute;
	width:100%;
	height:100%;
	bottom:0;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size:100%;
	/* background-attachment:fixed; */
}

.register_item{
	background:transparent;
	border:0;
}

.location_item{
	background:transparent;
}

.register_item p, .location_item p{
	color:#f4f4f4;
}

.location_item .input-label, .register_item .input-label{
	color:#f4f4f4;	
}

.register_setting_school{
	background:transparent!important;
	color:#f4f4f4!important;
	/* font-weight:bold; */
}

.no_border_bottom{
	border-bottom-width:0px;
}

.no_border{
	border:0;
}



.setup_content .item-select:after{
	color:#fff;
}

.register_userpass_item{
	background-color:#fff;
	margin-bottom:10px;
	margin-left:15px;
	margin-right:15px;
}

.register_button{
	text-transform:uppercase;
	letter-spacing:1px;
	color:#387ef5!important;
}

.register_fb{
	text-transform:uppercase;
	letter-spacing:1px;
	color:#fff!important;
	background-color:#3b5998!important;
	border-color:#2f4c88!important;
}
.register_content input[type=text],.register_content input[type=password] {
   color:#b7b7b7;
}

/*SETUP*/

.setup_content{
	height:100%!important;
}

.setup_content .item-select select{
	max-width:60%;
}

/**/

.bg_white{
	background-color:#fff;
}

.middle{
	margin-left:25px;
	width:50px;
	height:50px;
}

/*Content dark color*/

.content_dark, .content_dark .info{
	background-color:#1c1d22;
}

.content_dark .info a{
	background-color:#2a2d32;
	border-color:#1c1d22;
}

.content_dark .info p{
	color:#fff;
}

.content_dark img.kot_thumb{
	border-color:#1c1d22;
}

.content_dark .item{
	background-color:#2a2d32;
	border-color:#2a2d32;
	color:#fff;
}

.content_dark .list-inset{
	border-radius:0;
	border:none;
}

.content_dark .list{
	padding-bottom:0;
}

.content_dark .item:first-child{
	border-radius:0;
}

.content_dark input, .content_dark select{
	background-color:#2a2d32;
}

.content_dark .input-label, .content_dark input, .content_dark .list, .content_dark .item-checkbox, .content_dark select{
	color:#c1c1c1;
}

.content_dark .item-divider{
	background-color:#363a40;
}

/**/


#extraInfo{
	margin-bottom:85px;
}

.footer_row{
	padding:inherit;
}

.setting_school{
	padding:7px 28px 0px 12px!important;
	width:100%!important;
	text-align:left;
	right:auto!important;
	left:0;
	text-align:left;
	direction:ltr!important;
}

.item-school{
	height:37px;
}

.item-school, .item-stacked-label{
	border: none;
}

.tut_footer a{
	text-decoration:none;
}

.tut_footer button{
	margin:0px!important;
}

/*loader*/

.center{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
    width:100%;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff8dc;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 5em auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #387ef5;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff8dc;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

.dark_loader:before,.dark_loader:after{
	background: #1c1d22;
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* td cards */
td-cards {
  display: block;
}
td-card {
  display: block;
}
td-card img {
  max-width: 100%;
  max-height: 100%;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

/* gradient */

.bg-gradient{
	background-image: url('../img/bg.png');
	background-size: cover;
	background-position: center,center;
}