<ion-view class="content_dark">

	<div class="bar bar-header content_dark">
		<a class="button button-icon icon ion-arrow-left-c" href="#/main"></a>	
	  	<div class="h1 title"><img src="img/k.png" width="23" height="35" alt=""></div>
	</div>

	<div class="bar bar-subheader sub_menu">
	  <h2 class="title"><i class="icon ion-ios-heart"></i> Favorieten</h2>
	</div>

  <ion-content id='content' class='content has-header padding content_dark'>

    <div ng-show="loading" class="center item-text center_slider map_slider ng-hide">
    	<img class="spinner" src="img/svg-loaders/puff.svg" alt="">
    </div>

	<div ng-show='noResult' class="info_message center text-center ng-hide">
	    U heeft nog geen koten aan uw favorieten toegevoegd.
	</div>
	<div id='favKotten'>
		<div ng-repeat="(key,kot) in favKot" id="card{{kot.id}}" type="list-inset" ng-show='!loading && !noResult && !extraInfo' class="list list-inset fav_card footer_padding ng-hide">
			<div class='info'>
				<img width='100%' id='main_image{{kot.id}}' src="http://kotterapp.be//{{kot.images[0].image}}" alt="">
				<div class="kot_thumbs">
					<img ng-repeat="image in kot.images" width='25%' ng-click='change_image($event,{{kot.id}})' src="http://kotterapp.be//{{image.image}}" alt="" class="kot_thumb">
				</div>
			    <div class="kot_icons">

	      			<a class="item item-icon-left kot_details" href="#">
	      				<i class="icon ion-navigate"><p>{{kot.distance}} km van {{userdata.school}}</p></i>
	      			</a>

	      			<a class="item item-icon-left  kot_details" href="#">
	      				<i class="icon ion-android-pin"><p>{{kot.streatname}} {{kot.housenumber}} {{kot.city}} <span ng-if='kot.kotnumber != ""'>- Kot {{kot.kotnumber}}</span></p></i>
	      			</a>

		            <a class="item item-icon-left  kot_details" href="#">
		              <i class="icon ion-social-euro"><p><span ng-if='kot.estimateprice'>{{kot.price}},0 (totaal geschatte prijs)</span> <span ng-if='!kot.estimateprice'>{{kot.price}},0 (totaal prijs)</span></p></i>
		            </a>

		            <a class="item item-icon-left kot_details" href="#">
		              <i class="icon ion-android-expand"><p>{{kot.size}} &#13217;</p></i>
		            </a>

	      		</div>
			</div>
			<div class='row content_dark' >
		        <div class="col" id='openInfo{{key}}'>
		          <img ng-click="info({{key}})" width="50" height="50"  src="img/icons/info.png" alt="" align="right">
		        </div>
		        <div class="col">
		        	<img ng-click="vote('dislike',kot.id)" width="50" height="50" src="img/icons/dislike.png" align="left" alt="">
		        </div>
			</div>
		</div>
	</div>
	

	 <div id='favMap' class='mapHidden' center="map.center" zoom="map.zoom" draggable="true" events='map.events' control="map.control" data-tap-disabled="true"></div>

	<div id='extraInfo' ng-show='extraInfo' class='padding ng-hide'>

	            <div class="list card main_info">

	              <div class="item item-divider">
	                Info
	              </div>

	              <a href="#" class="item item-icon-left wrap">
	                <i class="icon ion-ios-information-outline"></i>
	                {{kotExtra.info}}
	              </a>
				  <a href="#" class="item item-icon-left wrap">
		            <i class="icon ion-ios-information-outline"></i>
		            Beschikbaar vanaf: {{kotExtra.begindate}}
		          </a>
		          <a href="#" class="item item-icon-left wrap">
		            <i class="icon ion-ios-information-outline"></i>
		            Beschikbaar tot: {{kotExtra.enddate}}
		          </a>
	              <div class="item item-divider">
	                Opties
	              </div>

	              <a ng-if="kotExtra.seperatebathroom  == '1'" href="#" class="item item-icon-right">
	                <i class="icon ion-android-done"></i>
	                Individuele badkamer
	              </a>
	              <a ng-if="kotExtra.seperatekitchen  == '1'" href="#" class="item item-icon-right">
	                <i class="icon ion-android-done"></i>
	                Individuele keuken
	              </a>
	              <a ng-if="kotExtra.bikestands  == '1'" href="#" class="item item-icon-right">
	                <i class="icon ion-android-done"></i>
	                Fietsenstalling
	              </a>
	              <a ng-if="kotExtra.furniture  == '1'" href="#" class="item item-icon-right">
	                <i class="icon ion-android-done"></i>
	                Bemeubeld
	              </a>

	              <div class="item item-divider">
	                Contact
	              </div>

				  <a href="#" class="item item-icon-left">
		            <i class="icon ion-person"></i>
		            {{kotExtra.name}}
		          </a>

	              <a href="tel:{{kotExtra.telephonenumber}}" class="item item-icon-left">
	                <i class="icon ion-ios-telephone-outline"></i>
	                {{kotExtra.telephonenumber}}
	              </a>

	              <a href="mailto:{{kotExtra.email}}?subject=Betreffende {{kot.streatname}} {{kot.housenumber}} {{kot.city}} - Kotnr: {{kot.kotnumber}}" class="item item-icon-left">
	                <i class="icon ion-ios-email-outline"></i>
	                {{kotExtra.email}}
	              </a>

	            </div>
	            <div class='row content_dark'>
			        <div class="col text-center" id='closeInfo{{kotExtra.id}}'>
			          <img ng-click="closeInfo({{kotExtra.id}})"  width="50" height="50" src="img/icons/k.png" alt="" align="">
			        </div>
				</div>
	        </div>
  </ion-content>
</ion-view>