<ion-view class='bg-gradient'>
  <div class="bar bar-header trans_header">
      <div class="h1 title"><img src="img/header.png" width="130" height="35" alt=""></div>
  </div>
  <div class="bar bar-subheader sub_menu trans_header register_item">
    <h2 class="title">Nog enkele gegevens...</h2>
  </div>
  <ion-content class='has-header has-subheader setup_content'>
    <form ng-submit="doSave()">
      <div class="list">
        <label class="item item-input item-school  location_item no_border_bottom">
          <div class="input-label">
            Hogeschool / Universiteit
          </div>
        </label>
        <label class="item item-input item-stacked-label item-select item-school no_border">          
          <select ng-model="locationData.school" class="setting_school register_setting_school">
            <option ng-repeat="school in schools" value="{{school}}">{{school}}</option>
          </select>
        </label>

        <label class="item item-input item-stacked-label location_item">
          <span class="input-label">Maximum huurprijs: <span>€{{locationData.price}}</span></span>
          
          <div class="range range-stable">
          <input ng-model="locationData.price"  type="range" min="250" max="800" name="price">
        </div>
        </label>
        <label class="item register_item">
          <button class="button button-block button-stable register_button" type="submit">Opslaan</button>
        </label>
        <label class="item item-text-wrap register_item"><p class="text-center item-text-wrap">* De gegevens hierboven (en nog een pak meer filters) kan u altijd eenvoudig wijzigen in de app via het menu linksboven 'instellingen' (tandwiel icoontje).</p></label>
      </div>
    </form>
  </ion-content>
</ion-view>