<ion-view>
  <ion-pane class='bg-gradient'>
    <p class="text-center register_item"><img src="img/register_logo.png" width="198" height="198" alt=""></p>
    <form ng-submit="doLogin()">
      <div class="list">
        <div ng-show='error'>
          <p class='error' >{{error}}</p>
        </div>
        <label class="item item-input item-email register_item register_userpass_item">
          <input type="email" placeholder="Email" ng-model="loginData.email">
        </label>
        <label class="item item-input item-password register_item register_userpass_item">
          <input type="password" placeholder="Wachtwoord" ng-model="loginData.password">
        </label>
        <label class="item register_item btn_submit">
          <button class="icon-left ion-android-arrow-forward button button-block button-stable register_button" type="submit">Inloggen</button>
        </label>
        <label class="item register_item btn_fb">
          <button type='button' class="icon-left ion-social-facebook button button-block button-dark register_fb" ng-click='facebookRegister()'>Facebook</button>
        </label>
      </div>
    </form>
      
    <div class="register_antweDrpen"></div>
  </ion-pane>
</ion-view>