<ion-view>
	<div class="bar bar-header bar-dark main_header">
		<a class="button button-icon icon ion-gear-a iconmenu" href="#/settings"></a>
	  	<div class="h1 title"><img src="img/header.png" width="130" height="35" alt=""></div>
	  	<a class="button button-clear icon ion-heart iconmenu" href="#/favorite"></a>	
	</div>
  
  <ion-content id='content'  class='content has-header padding content_dark'>

      <div ng-show='!extraInfo && !noResult' ng-include="include">
        
      </div>
      <div ng-show='noResult' class='info_message center text-center ng-hide'>
        We konden geen koten vinden met uw huidige filters.
      </div>
      <div id='map' class='mapHidden' center="map.center" zoom="map.zoom" draggable="true" events='map.events' control="map.control" data-tap-disabled="true"></div>
      <div ng-show='extraInfo' id='extraInfo' class='padding ng-hide'>
        
        <div class="list card main_info">

          <div class="item item-divider">
            Info
          </div>

          <a href="#" class="item item-icon-left wrap">
            <i class="icon ion-ios-information-outline"></i>
            {{kot.info}}
          </a>
          <a href="#" class="item item-icon-left wrap">
            <i class="icon ion-ios-information-outline"></i>
            Beschikbaar vanaf: {{kot.begindate}}
          </a>
          <a href="#" class="item item-icon-left wrap">
            <i class="icon ion-ios-information-outline"></i>
            Beschikbaar tot: {{kot.enddate}}
          </a>

          <div class="item item-divider">
            Opties
          </div>

          <a ng-if="kot.seperatebathroom  == '1'" href="#" class="item item-icon-right">
            <i class="icon ion-android-done"></i>
            Individuele badkamer
          </a>
          <a ng-if="kot.seperatekitchen  == '1'" href="#" class="item item-icon-right">
            <i class="icon ion-android-done"></i>
            Individuele keuken
          </a>
          <a ng-if="kot.bikestands  == '1'" href="#" class="item item-icon-right">
            <i class="icon ion-android-done"></i>
            Fietsenstalling
          </a>
          <a ng-if="kot.furniture  == '1'" href="#" class="item item-icon-right">
            <i class="icon ion-android-done"></i>
            Bemeubeld
          </a>

          <div class="item item-divider">
            Contact
          </div>
          
          <a href="#" class="item item-icon-left">
            <i class="icon ion-person"></i>
            {{kot.name}}
          </a>

          <a href="tel:{{kot.telephonenumber}}" class="item item-icon-left">
            <i class="icon ion-ios-telephone-outline"></i>
            {{kot.telephonenumber}}
          </a>

          <a href="mailto:{{kot.email}}?subject=Betreffende {{kot.streatname}} {{kot.housenumber}} {{kot.city}} - Kotnr: {{kot.kotnumber}}" class="item item-icon-left">
            <i class="icon ion-ios-email-outline"></i>
            {{kot.email}}
          </a>          
          
        </div>
      </div>

  </ion-content>

  <div ng-show="loading" class="center item-text center_slider dmap_slider ng-hide">
    <img class="spinner" src="img/svg-loaders/puff.svg" alt="">
  </div>

  <div class="like_dislike content_dark" style="position: absolute; bottom: 0px; width: 100%">

    <div ng-show='!loading && !noResult' class="row footer_row ng-hide">
        <div class="col" ng-show='!extraInfo'>
        	<img ng-click="vote('dislike',kot.id)" width="50" height="50" src="img/icons/dislike.png" align="left" alt="">
        </div>
        <div class="col text-center" id='openInfo'>
          <img ng-click="info()" width="50" height="50" src="img/icons/info.png" alt="">
        </div>
        <div class="col text-center" id='closeInfo' class="hidden">
          <img ng-click="closeInfo()" width="50" height="50" src="img/icons/k.png" alt="">
        </div>
        <div class="col" ng-show='!extraInfo'>
        	<img ng-click="vote('like',kot.id)" width="50" height="50" src="img/icons/like.png" align="right" alt="">
        </div>
    </div>

   </div>
   
</ion-view>