<ion-view>
	<div class="bar bar-header bar-dark main_header">
		<a class="button button-icon icon ion-gear-a iconmenu" href="#/settings"></a>
	  	<div class="h1 title"><img src="header.png" alt=""></div>
	  	<a class="button button-clear icon ion-heart iconmenu" href="#/favorite"></a>	
	</div>
  <ion-content id='content' class='content has-header padding'>
  	<div ng-show='loading'>
	   	loading
	</div>
  	<div class="card kot_card" ng-show='!loading'>
    		<div class='info'>
    			<img width='100%' id='main_image' src="http://maicopaulussen.2fh.co/eindwerk/public/{{kot.images[0].image}}" alt="">
      		<div class="kot_thumbs">
      			<img ng-repeat="image in kot.images" width='25%' ng-click='change_image($event)' src="http://maicopaulussen.2fh.co/eindwerk/public/{{image.image}}" alt="" class="kot_thumb">
      		</div>
    	    <div class="kot_icons">

      			<a class="item item-icon-left kot_details" href="#">
      				<i class="icon ion-navigate"><p>{{lenght}} km van KDG Groenplaats</p></i>
      			</a>

      			<a class="item item-icon-left  kot_details" href="#">
      				<i class="icon ion-android-pin"><p>{{kot.streatname}} {{kot.housenumber}} {{kot.city}}</p></i>
      			</a>

            <a class="item item-icon-left  kot_details" href="#">
              <i class="icon ion-social-euro"><p>{{kot.price}},0</p></i>
            </a>

            <a class="item item-icon-left kot_details" href="#">
              <i class="icon ion-android-expand"><p>{{kot.size}} &#13217;</p></i>
            </a>

      		</div>
    		<div id='extraInfo' class='padding hidden'>

            <div class="list card main_info">

              <div class="item item-divider">
                Contact
              </div>


              <a href="tel:{{kot.telephonenumber}}" class="item item-icon-left">
                <i class="icon ion-ios-telephone-outline"></i>
                {{kot.telephonenumber}}
              </a>

              <a href="mailto:{{kot.email}}" class="item item-icon-left">
                <i class="icon ion-ios-email-outline"></i>
                {{kot.email}}
              </a>

              <div class="item item-divider">
                Info
              </div>

              <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-information-outline"></i>
                {{kot.info}}
              </a>

              <div class="item item-divider">
                Opties
              </div>

              <a ng-if="kot.seperatebathroom  == '1'" href="#" class="item item-icon-right">
                <i class="icon ion-android-done"></i>
                Aparte badkamer
              </a>
              <a ng-if="kot.seperatekitchen  == '1'" href="#" class="item item-icon-right">
                <i class="icon ion-android-done"></i>
                Aparte keuken
              </a>
              <a ng-if="kot.bikestands  == '1'" href="#" class="item item-icon-right">
                <i class="icon ion-android-done"></i>
                Fietsenstalling
              </a>
              <a ng-if="kot.furniture  == '1'" href="#" class="item item-icon-right">
                <i class="icon ion-android-done"></i>
                Bemeubeld
              </a>
              <a ng-if="kot.wifi  == '1'" href="#" class="item item-icon-right">
                <i class="icon ion-android-done"></i>
                Wifi
              </a>

            </div>
        	<div id="map" data-tap-disabled="true"></div>
        </div>
    		

    	</div>
	  </div>
  </ion-content>

  <div class="like_dislike" style="position: absolute; bottom: 0px; width: 100%">

    <div class="row" ng-show='!loading'>
        <div class="col">
        	<img ng-click="vote('dislike',kot.id)" src="img/icons/dislike.png" align="left" alt="">
        </div>
        <div class="col text-center" id='openInfo'>
          <img ng-click="info()"   src="img/icons/info.png" alt="">
        </div>
        <div class="col text-center hidden" id='closeInfo'>
          <img ng-click="closeInfo()"   src="img/icons/k.png" alt="">
        </div>
        <div class="col">
        	<img ng-click="vote('like',kot.id)" src="img/icons/like.png" align="right" alt="">
        </div>
    </div>

   </div>
   
</ion-view>