<ion-view>
  <ion-pane class='register_content'>
    <p class="text-center register_item"><img src="img/register_logo.png" alt=""></p>
    <form ng-submit="doRegister()">
      <div class="list">
        <label class="item item-input item-username register_item register_userpass_item">
          <input type="text" placeholder="Gebruikersnaam" ng-model="registerData.username">
        </label>
        <label class="item item-input item-password register_item register_userpass_item">
          <input type="password" placeholder="Wachtwoord" ng-model="registerData.password">
        </label>
        <label class="item register_item">
          <button class="icon-left ion-android-arrow-forward button button-block button-stable register_button" type="submit">Aanmelden</button>
          <button type='button' class="icon-left ion-social-facebook button button-block button-dark register_fb" ng-click='facebookRegister()'>Facebook</button>
        </label>
      </div>
    </form>
    <div class="register_antweDrpen"></div>
  </ion-pane>
</ion-view>