<ion-view class="content_dark">
	<div class="bar bar-header content_dark">
	  	<a class="button button-icon icon ion-arrow-left-c" href="#/main"></a>	
	  	<div class="h1 title"><img src="img/k.png" width="23" height="35" alt=""></div>
	</div>
	<div class="bar bar-subheader sub_menu">
	  <h2 class="title"><i class="icon ion-gear-a"></i> Instellingen</h2>
	</div>
  <ion-content id='content' class='content has-header has-subheader padding content_dark'>
    
    <div ng-show="loading" class="center item-text center_slider ng-hide">
    	<img class="spinner" src="img/svg-loaders/puff.svg" alt="">
    </div>

	<div ng-show='errors' class=' padding ng-hide'>
	  <a class="item item-icon-left error_item" href="#">
	    <i class="icon ion-alert"></i>
	    <p class='error error_text' ng-repeat='error in errors'>{{error}}</p>
	  </a>
	</div>

	<div ng-show='!loading' class="list list-inset ng-hide">
	  	 <div class="item item-divider">
		    Gebruiker
		  </div>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Email: </span>
		    <input type="text" ng-change='changeEmail()' ng-model='userdata.email' placeholder="Email">
		  </label>

			<label class="item item-input item-stacked-label">		  
			<span class="input-label">Hogeschool / Universiteit: </span>
			</label>
		  <label class="item item-input item-stacked-label item-select item-school">
		    
		   	 <select ng-change='changeSchool()' ng-model="userdata.school" class="setting_school">
		        <option ng-repeat="school in schools"  ng-selected="school == userdata.school" value="{{school}}">{{school}}</option>
		      </select>
		  </label>
	</div>
	<div ng-show='!loading' class="list list-inset footer_padding ng-hide">	
		  <div class="item item-divider">
		    Kot
		  </div>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Maximum Prijs: <span>€{{userdata.price}}</span></span>
			<div class="list">
				<div class="range range-positive range-nopadding">
					<i class="icon ion-ios-minus-outline"></i>
				    			  <input ng-change='changePrice()'ng-model="userdata.price"  type="range" min="250" max="800" name="price">
				    <i class="icon ion-ios-plus-outline"></i>
				</div>
			</div>

			</label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Minimum Oppervlakte: <span>{{userdata.size}}m²</span></span>
			<div class="list">
				<div class="range range-positive range-nopadding">
					<i class="icon ion-ios-minus-outline"></i>
				    			  <input ng-change='changeSize()'ng-model="userdata.size"  type="range" min="10" max="50" name="price">
				    <i class="icon ion-ios-plus-outline"></i>
				</div>
			</div>
			</label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Afstand tot campus: <span>{{userdata.distance}}km</span></span>
			<div class="list">
				<div class="range range-positive range-nopadding">
					<i class="icon ion-ios-navigate-outline"></i>
				    			  <input ng-change='changeDistance()' ng-model="userdata.distance" type="range" min="1" max="20" name="price">
				    <i class="icon ion-ios-navigate"></i>
				</div>
			</div>
			</label>

		  <label class="item item-input item-stacked-label item-select item-school">
		    <span class="input-label">Start datum: </span>
		   	 <input ng-change='changeStartDate()' ng-model="userdata.startDate" type="date">
		  </label>

		  <label class="item item-input item-stacked-label item-select item-school">
		    <span class="input-label">Eind datum: </span>
		   	<input ng-change='changeEndDate()' ng-model="userdata.endDate" type="date">
		  </label>

	  	  <ul class="list">
			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input ng-change='changeBikestands()' ng-model="userdata.bikestands" type="checkbox">
			     </label>
			     Fietsenstalling
			  </li>
			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input ng-change='changeSeperatekitchen()' ng-model="userdata.seperatekitchen" type="checkbox">
			     </label>
			     Aparte Keuken
			  </li>
			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input ng-change='changeSeperatebathroom()' ng-model="userdata.seperatebathroom" type="checkbox">
			     </label>
			     Aparte Badkamer
			  </li>
			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input ng-change='changeFurniture()' ng-model="userdata.furniture" type="checkbox">
			     </label>
			     Bemeubeld
			  </li>
			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input ng-change='changeWifi()' ng-model="userdata.wifi" type="checkbox">
			     </label>
			     Internet Inbegrepen
			  </li>
		  </ul>
			<div ng-show='resetKot' class='ng-hide'>
				<p class="text-center">De koten zijn met succes gereset.</p>
			</div>
		  <button class="button button-block button-dark" ng-click='resetKotten()'>
			Reset koten
		  </button>
		  <p class="text-center">Hiermee reset je alle koten die je hebt geliked/gedisliked. Je krijgt opnieuw alle beschikbare koten te zien.</p>

		  <button class="button button-block button-dark" ng-click='logout()'>
		  	Uitloggen
		  </button>
		  	
	</div>
  </ion-content>
</ion-view>