<ion-view class='bg-gradient'>
  <div class="bar bar-header trans_header">
      <div class="h1 title"><img src="img/header.png" alt=""></div>
  </div>
  <ion-content class='has-header has-subheader padding'>
    <div ng-show="loading" class="center text-center item-text">
      <div class="loader">Loading...</div>
    </div>
<ion-slide-box ng-show='!loading'>

  <ion-slide>
      <img class="full-image" src="img/tutorial.png">
  </ion-slide>

  <ion-slide>
      <img class="full-image" src="img/tutorial2.png">
  </ion-slide>

  <ion-slide>
      <img class="full-image" src="img/tutorial.png">
  </ion-slide>

  <!-- More slides here... -->
</ion-slide-box>

  </ion-content>

  <div class="tut_footer" style="position: absolute; bottom: 0px; width: 100%">

    <a href="#/register"><div class="rodw padding">
      <button class="button button-block button-stable register_button">
        Aan de slag
      </button>
    </div></a>

    </div>

</ion-view>