<ion-view>
  <div class="bar bar-header bar-dark tut_header">
      <div class="h1 title"><img src="header.png" alt=""></div>
  </div>
  <div class="bar bar-subheader sub_menu tut_subheader">
    <h2 class="title">Zoek op een leuke manier jou droomkot</h2>
  </div>
  <ion-content class='has-header has-subheader padding tut_content'>

<ion-slide-box>

  <ion-slide>
  <div class="list card tut_body">
    <div class="item item-body tut_body">
      <img class="full-image" src="http://i.imgur.com/yI6s9u8.png">
      <p class="text-center">
        Je navigeert door te swipen.<br>
        Een kot naar <b>links</b> swipen doe je als een kot je niet <b>interesseert</b>. Door een kot naar <b>rechts</b> te slepen voeg je het toe aan je <b>favorieten</b> en kan je het later eenvoudig opnieuw bekijken.
      </p>
    </div>
  </div>
  </ion-slide>

  <ion-slide>
  <div class="list card tut_body">
    <div class="item item-body tut_body">
      <img class="full-image" src="http://i.imgur.com/qlgYO5d.png">
      <p class="text-center">
        Naar <b>boven</b> swipen laat meer <b>foto's</b> zien van het active kot, handig indien je na de eerste foto nog geen beslissing kan maken.<br>
        Door naar <b>beneden</b> te swipen laat je alle nuttige <b>contact informatie</b> zien.
      </p>
    </div>
  </div>
  </ion-slide>

  <ion-slide>
  <div class="list card tut_body">
    <div class="item item-body tut_body">
      <img class="full-image" src="http://i.imgur.com/ai3C8vj.png">
      <p class="text-center">
        That's it!<br><br>No seriously, this is everything you need to know. Press this huge yellow button below, and start exploring the best student rooms of Antwerp city!
      </p>
    </div>

  </div>
  </ion-slide>




  <!-- More slides here... -->
</ion-slide-box>

  </ion-content>

  <div class="like_dislike tut_action" style="position: absolute; bottom: 0px; width: 100%">

    <a href="#/register"><div class="row">
      <button class="button button-block button-positive">
        Aan de slag
      </button>
    </div></a>

    </div>

</ion-view>