<ion-view>
  <div class="bar bar-header bar-dark tut_header">
      <div class="h1 title"><img src="header.png" alt=""></div>
  </div>
  <div class="bar bar-subheader sub_menu tut_subheader">
    <h2 class="title">Zoek op een leuke manier jou droomkot</h2>
  </div>
  <ion-content class='has-header has-subheader padding tut_content'>
<div ng-show='loading'>
  loading
</div>
<ion-slide-box ng-show='!loading'>

  <ion-slide>
      <img class="full-image" src="img/tutorial.png">
  </ion-slide>

  <ion-slide>
      <img class="full-image" src="img/tutorial2.png">
  </ion-slide>

  <ion-slide>
      <img class="full-image" src="img/tutorial.png">
  </ion-slide>




  <!-- More slides here... -->
</ion-slide-box>

  </ion-content>

  <div class="like_dislike tut_action" style="position: absolute; bottom: 0px; width: 100%">

    <a href="#/register"><div class="row">
      <button class="button button-block button-stable">
        Aan de slag
      </button>
    </div></a>

    </div>

</ion-view>