<ion-view>
<div class="bar bar-header bar-light">
  <h1 class="title">KOTMASTER</h1>
</div>
  <ion-content class='has-header'>
	<div class="tut_title">Zoek op een aangename manier jou droomkot</div>
	<div class="list card">

  <div class="item item-body">
    <img class="full-image" src="tut2.jpg">
    <p>
      Lorem impsum
    </p>
    <div class="col text-center">
	    <p>Tutorial: 2/5 | <a href="tut2.html"></a>Next</p>
    </div>
  </div>

</div>
	<div class="col text-center">
    	<a href="#/register" class="button button-positive center">Aan de slag</a>
	</div>
  </ion-content>
</ion-view>